.btn-primary {
    background-color: #205196!important;
    border-color: #205196!important;
    color: #fff;
}
.btn-primary:hover {
    background-color: #142f4f!important;
    border-color: #142f4f!important;
    color: #fff;
}